




@import url("../components/header.css");
@import url("../components/variables.css");

:root {
    --primary: #1a3fb5;
    --bg-gray: #f8f9fa;
}

body {
    font-family: "Inter", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
}

.product-page {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    /* Gallery | Main Image | Info */
    gap: 30px;
}

/* Gallery Column */
.thumb-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.thumb-list img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 5px;
    transition: 0.2s;
}

.thumb-list img:hover {
    border-color: var(--primary);
}

/* Main Image */
.main-view {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 20px;
}

.main-view img {
    max-width: 100%;
    height: auto;
}

/* Info Column */
.product-info {
    padding-left: 20px;
}

.brand-name {
    color: var(--primary);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.2rem;
    margin: 10px 0;
}

.desc {
    color: #666;
    line-height: 1.6;
    margin: 25px 0;
}

.price {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.btn-cart {
    background: var(--primary);
    color: white;
    border: none;
    padding: 15px 45px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .product-page {
        grid-template-columns: 1fr;
    }

    .thumb-list {
        flex-direction: row;
        order: 2;
    }
}