



:root{
   
      --bg-color :  #27278d;
      --second-color :#003CC7;
      --white-color :#ffffff;
      --green : #28a745;
      --gray-ligh :#B6B6B6;
      --black :#000000;
      --shadow :0 4px 15px #0000000d;
      --price : #00acc1;
}



